/* style global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

/* style untuk templates/hero.php */

.header {
  display: flex;
  background-color: #0e0e0e;
  align-items: flex-end;
  justify-content: center;
  background-image: url('../images/background.jpg');
  background-position: right;
  background-size: cover;
  color: #fefefe;
  min-height: 90vh;
}

.header .hero {
  padding: 2rem;
  position: relative;
  isolation: isolate;
  background-image: linear-gradient(90deg, #0e0e0e, transparent 40%);
  width: 100%;
}

.header .hero-text {
  padding: 1em;
  max-width: 50ch;
}

.promotional-image {
  max-height: 90vh;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  user-select: none;
  max-width: 400px;
}

.year {
  opacity: .7;
}

.hero-action {
  display: flex;
  gap: .3em;
  align-items: center;
  margin-top: .6em;
  border-radius: .3em;
  font-size: 1.2rem;
  border: .15rem solid red;
  padding: .4em .8em;
  background: transparent;
  color: red;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .1;
}

.hero-action svg {
  height: 1.1em;
}

.hero-action:hover, .hero-action:focus-visible {
  background-color: red;
  color: #0e0e0e;
}

/* style untuk templates/navbar.php */

.navbar {
  position: sticky;
  top: 0;
  background-color: white;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  gap: .4em;
  transition: color .15s ease;
}

.navbar .navbar-brand .navbar-brand-svg {
  width: 2em;
  height: 2em;
}

.navbar .navbar-brand .navbar-brand-text {
  text-transform: uppercase;
  font-weight: 600;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #cecece; */
  padding: 0 1em;
}

.navbar .navbar-menus {
  display: flex;
  gap: 1em;
  /* background-color: #dedede; */
}

.navbar .navbar-menus .navbar-menus-item {
  /* background-color: #bbbbbb; */
  padding: 1em;
  list-style: none;
}

.navbar .navbar-menus .navbar-menus-item .navbar-menus-link {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  transition: color .15s ease;
}

.navbar-menus-link:hover, 
.navbar-menus-link:focus-visible, 
.navbar-brand:hover,
.navbar-brand:focus-visible {
  color: red;
}